.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}

.nav-logo {
  font-size: 40px;
  font-weight: 600;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  background-clip: text;
  -webkit-backdrop-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .navbar ul {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 300px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -300px;
    padding-top: 100px;
  }
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 30px;
  font-size: 20px;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.nav-connect {
  font-size: 22px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  padding: 20px 40px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover {
  /* background: linear-gradient(267deg, #b923e1 0.36%, #da7c25 102.06%); */
  transform: scale(1.1);
}
